<!--The content below is only a placeholder and can be replaced.-->

<div class="exPad">
  <div class="aFloat">
    <mat-toolbar color = "primary" class ="exPad">
      <img src="assets/images/LP_Vinyl_Symbol_Icon.png" alt="" class="icon">
      <span class = "titleFont exPad">My LP Collection</span> 
    </mat-toolbar>
    <div class="exPad">
      <app-form (addEntry)="AddNewEntry($event)"></app-form>
    </div>
  </div>
    <div class="exPad albumList">
      <app-list [listList]="MasterRatingList"></app-list>
    </div>
</div>